.a-propos-block{
	.first-video,.second-video{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.first-video{
		height: 992px;
		width: 1070px;
		margin-left: -282px;
		.start-video-button{
			width: 210px;
    		height: 210px;
			background-color: rgba(0, 0, 0, 0.16);
			animation: pulse 2s infinite;
			border-radius: 50%;
			backdrop-filter: blur(30px);
			box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.16);
		}
		.start-video-icon{
			font-size: 120px;
			color: $white-color;
			&:hover{
				color: $white-color;
			}
		}
	}
	.second-video{
		height: 340px;
		width: 340px;
		position: absolute;
		top: 630px;
		left: 450px;
		.start-video-button{
			width: 110px;
			height: 110px;
			background-color: rgba(0, 0, 0, 0.16);
			animation: pulse 2s infinite;
			border-radius: 50%;
			backdrop-filter: blur(30px);
			box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.16);
		}
		.start-video-icon{
			font-size:50px;
			color: $white-color;
			&:hover{
				color: $white-color;
			}
		}
	}
	.a-propos-block--info{
		h4{
			font-family: "poppins", sans-serif;
			font-size: 25px;
			font-weight: 600;
			color: $light-grey;
		}
		h3{
			font-family: "poppins", sans-serif;
			font-size: 40px;
			font-weight: 600;
			color: $secondary-color;
			line-height: 1.25;
		}
		p{
			color: $black-color;
		}
		p:nth-of-type(1){
			font-family: "poppins", sans-serif;
			font-size: 22px;
			font-weight: 500;
			line-height: 1.45;
		}
		p:nth-of-type(2){
			font-family: "poppins", sans-serif;
			font-size: 18px;
			  font-weight: 300;
			  line-height: 1.80;
			
		}
	}
}