.solutions{
	.solutions__title{
		h2{
			font-size: 40px;
			 font-weight: 600;
		}
		p{
			font-size: 18px;
			font-weight: 300;
		}
	}
	.solutions__tabswitch{
		.nav{
			border: 1px solid $secondary-color;
			border-radius: 72px;
			padding: 15px 0;
		}
		a.nav-link{
			color :$black-color;
			font-size: 20px;
			font-weight: 500;
			opacity: 0.62;
			padding: 10px 70px !important;
			border-right: 1px solid $secondary-color;
		}
		.no-border-right{
			a.nav-link{
				border-right: none;
			}
		}
	}
	.solutions__tabs{

	}
}