.contact-bg{
	background-image: url(../img/contact-bg.png);
	height: 736px;
	background-size: cover;
	display: flex;
    align-items: flex-end;
}
.contact-container{
	display: block;
    margin: 0 auto;
}
.footer__contact-input{		
	background-color: $white-color;
	box-shadow: 0 40px 60px 0 rgba(14, 119, 255, 0.15);
	padding: 20px;
	width: 40%;
}
.footer__contact-input-container{
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
}